# History files
*.Rhistory

# Session Data files
.RData

# RStudio files
*.Rproj
.Rproj.user/

# Temporary files
.clangd/*
\#*\#
*~

# Documentation files
README*.html
vignettes/*.html
vignettes/*.pdf
!vignettes/markets.pdf
vignettes/*.R
doc*
docs
pkgdown/*
!pkgdown/extra.css
man/*.Rd

# Development files
Meta
tests/testthat/*.rda
tests/testthat/devel-environment
CRAN-SUBMISSION
CRAN-RELEASE

# Compilation files
src/compile_commands.json
*.o
*.so
*.dll

# Autoconf files
configure
src/Makevars
autom4te.cache
config.log
config.status
aclocal.m4
doc
/doc/
/Meta/
