body { text-align:justify; margin:25px auto 0px auto; }
iframe { max-width:100%; display:block; margin:auto; }
img { max-width:100%; }
img:not(.logo) { margin: auto; max-width: 100%; }
.sourceLine { text-decoration: none!important; }
